/* Html Global */
*{
    margin: 0;  /* enlever les marges automatiques */
    padding: 0; /* enlever les marges automatiques */
    width: auto;    /* largeur automatique */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Fin */

/* Navbar */
.navbar{
    height: 30%;   /* attribuer une taille automatique a la navbar */
    width: auto;    /* attribuer une largeur automatique a la navbar */
    background-color: #048b9a ;  /* couleur de fond de la navbar */
    margin-bottom: 2%;
}
.listenavbar{
    display: flex;  /* pour afficher les liens sur une seule ligne */
    width: auto;    /* donner a la navbar une taille de 100% en largeur */
    padding: 2%;    /* cadre intérieur dans le bloc */
}
li{
    padding: 1%;    /* cadre intérieur dans le bloc navbar */
    width: 20%; /* un élément de la liste fait 50% parcequ'il y a 2 éléments */
    text-align: center; /* alligner le contenu de chaque compartiment au milieu de celui-ci */
    list-style-type: none;   /* enlever les points aujouter automatiquement aux listes */
}
#navbara{
    color: #3700B3;  /* mettre le text en blanc */
    text-decoration: none;  /* enlever le soulignement automatique des liens */
    font-size: 150%;   /* mettre le text en plus gros */
}
/* Fin */

.centredelapage{
    width: auto;    /* attribuer une largeur automatique a la navbar */
    margin: 5%; /* attribuer des marges de 5% */
    display: flex;  /* pour afficher les liens sur une seule ligne */
}
.titre{
    font-size: 200%; /* taille de police */
    width: auto;    /* attribuer une largeur automatique a la navbar */
    margin: 0;  /* enlever les marges automatiques */
}
.presentation{
    box-shadow: 8px 8px 12px #aaa;  /* attribuer des orbres au bloc */
    padding: 3%;    /* cadre intérieur de 3% */
    margin: 2%; /* attribuer des marges de 2% */
    background-color: coral;
}
.textcontenu{
    text-align: left;   /* le texte s'alligne a gauche */
    line-height: 150%;  /* inter-lignes de 150% */
}
.contenu{
    display: block; /* pour afficher d'un bloc */
    margin: 1%; /* attribuer des marges de 1% */
}
.infocontenu{
    min-width: 40%; /* attribuer une taille minimale de 40% */
    margin: 2%; /* attribuer des marges de 2% */
}
.infoecriture{
    font-size: 150%;    /* attribuer une taille de 150% au texte */
    margin: 8%; /* attribuer des marges de 8% */
    padding: 2%;    /* cadre intérieur de 2% */
    text-align: center; /* le texte s'alligne au milieu */
    background-color:#048b9a;   /* couleur de fond */
    color: white;   /* couleur du texte */
    transition: 0.5s;   /* transition de 0.5 secondes */
    cursor: default;    /* cuseur par défaut */
}
.infoecriture:hover{    /* quand la souris passe sur l'élément */
    background-color: #02717e;  /* couleur de fond */
    box-shadow: 8px 12px 8px #aaa;  /* attribuer des orbres au bloc */
}
#infotitre{
    text-align: center; /* le texte s'alligne au milieu */
}

@media(max-width: 425px){   /* quand la taille de lécran est de  */
    .centredelapage{
        display: inline-block;  /* pour afficher d'un bloc */
    }
    .contenupartenaire{
        font-size: 55%;
    }
}

.lespartenairestitre{
    font-size: 200%;
    text-align: center;
}

.partenaires{
    margin: 2%; /* attribuer des marges de 2% */
    display: flex;  /* pour afficher sur une ligne */
    height: auto;   /* attribuer une taille automatique */
    width: auto;    /* attribuer une largeur automatique */
}

.infopartenaire{
    margin: 2%; /* attribuer des marges de 2% */
    width: 30%; /* attribuer une largeur de 30% */
    font-size: 125%;    /* attribuer une taille de 125% au texte */
    background-color: #8cf395;  /* couleur de fond */
    text-align: center; /* le texte s'alligne au milieu */
    justify-content: center;    /* mettre le contenu au milieu */
    align-items: center;    /* mettre le contenu au milieu */
    padding: 2%;    /* cadre intérieur de 2% */
    user-select: none;  /* empecher les selections d'utilisateurs */
}
div#blur.active{
    filter: blur(20px); /* appliquer un flou */
    pointer-events: none;   /* la souris ne peut pas intéragir avec l'élément */
    user-select: none;  /* empecher les selections d'utilisateurs */
    transition: 0.5s;   /* transition de 0.5 secondes */
}
.popup{
    position: fixed;     /* fixe la position */
    margin: auto;    /* attribue des marges automatiqud */
    top: 40%;    /* se place a 40% du bord supérieur */
    left: 50%;   /* se place a 50% du bord gauche */
    padding: 2%;    /* cadre intérieur de 2% */
    width: auto;    /* attribuer une largeur automatique */
    height: auto;   /* attribuer une taille automatique */
    transform: translate(-50%,-50%);
    background-color: #fff; /* couleur de fond */
    box-shadow: 0 5px 30px rgba(0,0,0,.30); /* ombre autour du cadre */
    visibility: hidden; /* cet élément est caché */
    opacity: 0; /* il n'est pas visible */
    transition: 1s; /* ses transitions dure 1 seconde */
    z-index: -1;    /* sa position sur l'axe z est de -1 */
}
#popupsmictom.active{
    visibility: visible;    /* il est visible */
    opacity: 1; /* il est opaque */
    transition: 1s; /* ses transitions dure 1 secondes */
    z-index: 999;   /* sa position sur l'axe z est de 999 */
}
#popupormeactivitee.active{
    visibility: visible;    /* il est visible */
    opacity: 1; /* il est opaque */
    transition: 1s; /* ses transitions dure 1 secondes */
    z-index: 999;   /* sa position sur l'axe z est de 999 */
}
#popupesat.active{
    visibility: visible;    /* il est visible */
    opacity: 1; /* il est opaque */
    transition: 1s; /* ses transitions dure 1 secondes */
    z-index: 999;   /* sa position sur l'axe z est de 999 */
}
.titrepopup{
    text-align: center; /* le texte s'alligne au centre */
    padding: 2%;    /* cadre intérieur de 2% */
    font-size: 200%;    /* la taille de la police est de 200% */
    color: #3700B3; /* couleur du titre */
}
.textpopup{
    padding: 2%;    /* le cadre intérieur est de 2% */
    font-size: 125%;    /* la taille de la police est de 125% */
}
.lesbtnpopup{
    display: flex;  /* affiche le contenu en ligne */
    text-align: center; /* alligne le texte au mileiu de son bloc */
}
.btngrouppopup{
    background-color: #8cf395;  /* couleur de fond */
    width: 49%; /* largeur de 49% */
    padding: 2%;    /* marges intérieur de 2% */
    margin: 1%; /* marges extérieur de 1% */
    text-decoration: none;  /* enlève les décorations de texte */
    color: black;   /* texte en noir */
    cursor: default;    /* le curseur est celui par défaut */
}

.présentation{
    display: flex;
    width: auto;
}
.Contenu{
    width: auto;
    margin: 2%;
    font-size: 150%;
    display: block;
}
.texte{
    margin: 2%;
}

.presentationagrmethazebrouc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.carte{
    margin: 2%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(red, green, blue, 0.5);
    border-left: 1px solid rgba(red, green, blue, 0.5);
    backdrop-filter: blur(5px);
}
.presentationcontenu{
    padding: 2%;
    text-align: center;
    transition: 0.5s;
}
.titre{
    font-size: 200%;
    color: rgba(red, green, blue, 0.05);
    pointer-events: none;
    padding: 2%;
}
.presentationtexte{
    font-size: 150%;
    color: black;
    z-index: 1;
}
.presentationdirigeants{
    display: flex;
    justify-content: center;
}
@media(max-width: 425px){   /* quand la taille de lécran est de  */
    .presentationdirigeants{
        display: inline-block;  /* pour afficher d'un bloc */
        justify-content: center;
    }
}
.presentationphotodeprofil{
    width: 100px;
    border-radius: 50%;
}

/* Footer */
.footer{
    color: #BB86FC;   /* couleur de l'écriture */
    background-color: #121212; /* couleur de fond */
    width: auto;    /* largeur */
    padding: 2%;    /* contour intérieur */
    display: flex;  /* affichage */
    margin-top: 2%;
}
.containerfooter{
    text-align:center;  /* allignement du texte au milieu */
    padding: 1%;    /* contour intérieur */
    width: 32%; /* largeur */
}
/* Fin */
